/* ----- 992px - 1199px (START) ----- */
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		width: 100%;
	}

	header {
		width: 100%;
	}

	.wrapper {
		width: 100%;
	}

	.header__menu ul li {
		margin-left: 3%;
	}

	.content__headline {
		margin-left: 2em;
		margin-top: 5.5em;
	}

	.content__start-the-journey {
		margin-left: 2em;
		float: none;
		margin-top: 93px;
	}

	.content__line {
		margin: 0 50% 0 0;
		float: right;
	}

	.content__table {
		top: -2.5em;
		right: -2px;
	}
}

/* ----- 992px - 1199px (END) ----- */


/* ----- 768px - 991px (START) ----- */
@media (max-width: 990px){
	body {
		width: 100%;
	}

	.header {
		height: 128px;
	}

	.wrapper {
		width: 100%;
	}

	.header__menu {
		height: 50%;
	}

	.header__menu ul {
		height: 100%;
		display: flex;

	}

	.header__menu ul li {
		float: none;
		display: block;
		margin-top: 21px;
		margin-left: 0;
		flex-grow: 2;
		text-align: center;
	}

	.content__headline {
		margin-left: 27px;
		margin-top: 64px;
	}

	.content__start-the-journey {
		float: none;
		margin-top: 4.5625em;
		margin-left: 2em;
	}

	.content__line {
		display: none;
	}

	.content__table {
		right: 3em;
		top: 4.6em;
	}

	.header__logo {
		width: 100%;
		height: 50%;
		border-bottom: 1px solid #262b30;
		float: none;
	}

	header {
		width: 100%;
		height: 128px;
	}

}
/* ----- 768px - 991px (END) ----- */


/* ----- 575px (START) ----- */
@media screen and (max-width: 575px) {
	body {
		width: 100%;
	}

	.wrapper {
		width: 100%;
	}

	.content__headline {
		margin: 1.5em auto;
	}

	.content__start-the-journey {
		margin: 2em auto;
	}

	.content__line {
		display: none;
	}

	.content__table {
		position: initial;
		float: none;
	}

	.content__table table {
		margin: 0 auto;
	}

	.header__menu ul li {
		font-size: 14px;
	}

	.header__logo {
		width: 100%;
		height: 3.3em;
		border-bottom: 1px solid #262b30;
		float: none;
	}

	header {
		height: 112px;
	}
}
/* ----- 575px (END) ----- */
