/*--------1 Type elements (START)--------*/
body {
	background: url(../images/background.jpg) no-repeat;
	width: 100%;
	background-position: top center;
	background-color: #0d1319;
	max-width: 1920px;
	min-width: 480px;
	overflow: hidden;
	font: 100% 'Museo Sans Cyrl', sans-serif;
}

.wrapper {
	height: 100%;
	width: 73.125em;
	/* 1170px*/
	margin: 0 auto;
}

.clear {
	clear: both;
}
/*---------1 Type elements(END)---------*/


/*------------1.1 Links(START)-------------*/
.header__logo a {
	width: auto;
	height: auto;
	margin: auto;
}

.header__menu li a {
	font-weight: 300;
	color: #fff;
	text-decoration: none;
}

.header__menu li a:hover {
	display: inline-block;
	color: #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	padding-bottom: 8px;
}

.content__headline a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: default;
}
/*--------------1.1 Links (End)--------------*/


/*--------------2 HEADER(START)-------------*/
header {
	width: 100%;
	height: 6.125em;
	border: 1px solid #262b30;
	background-color: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}

.header__logo {
	display: flex;
	border-right: 1px solid #2a2a2d;
	border-left: 1px solid #2a2a2d;
	height: inherit;
	width: 19.625em;
	float: left;
	position: relative;
}

.header__logo::before {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-bottom-color: transparent;
	width: 7px;
	height: 7px;
	top: -1px;
	left: -1px;
	z-index: 2;
}


.header__logo::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid #fff;
	border-left-color: transparent;
	border-bottom-color: transparent;
	width: 7px;
	height: 7px;
	top: -1px;
	right: -1px;
	z-index: 2;
}

.header__border-bottom::before {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-top-color: transparent;
	width: 7px;
	height: 7px;
	bottom: -1px;
	left: -1px;
	z-index: 2;
}

.header__border-bottom::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid #fff;
	border-left-color: transparent;
	border-top-color: transparent;
	width: 7px;
	height: 7px;
	bottom: -1px;
	right: -1px;
	z-index: 2;
}


.header__logo-img {
	background: url(../images/logo-img.png) no-repeat;
	display: block;
	height: 34px;
	width: 274px;
}

.header__menu ul li {
	float: right;
	margin-left: 5%;
	margin-top: 40.5px;
}
/*--------------2 HEADER(END)---------------*/


/*----------3 Content(START)--------*/

#content .wrapper {
	position: relative;
}

.content__headline {
	width: 26.625em;
	margin-left: 2px;
	margin-top: 7.375em;
	background: url(../images/travelling-img.png) no-repeat;
	height: 78px;
}

.content__start-the-journey {
	display: block;
	float: left;
	width: 11.125em;
	height: 2.0625em;
	margin-left: 1px;
	background: #16171f;
	border: 2px solid transparent;
	-moz-border-image: linear-gradient(to bottom right, rgba(9, 32, 61, 1), rgba(44, 95, 159, 1), rgba(9, 32, 61, 1));
	-webkit-border-image: -webkit-linear-gradient(top left, rgba(9, 32, 61, 1), rgba(44, 95, 159, 1), rgba(9, 32, 61, 1));
	-o-border-image: -o-linear-gradient(top left, rgba(9, 32, 61, 1), rgba(44, 95, 159, 1), rgba(9, 32, 61, 1));
	border-image: linear-gradient(top left, rgba(9, 32, 61, 1), rgba(44, 95, 159, 1), rgba(9, 32, 61, 1));
	
	border-image-slice: 1;
	position: relative;
	margin-top: 85px;
}

.content__start-the-journey::before {
	display: block;
	content: '';
	position: absolute;
	background: #171820;
	border: 2px solid #fff;
	border-right-color: transparent;
	border-top-color: transparent;
	width: 5px;
	height: 5px;
	bottom: -1px;
	left: -1px;
	z-index: 2;
	box-shadow: -2px 2px 1px 0 rgba(255, 255, 255, 0.4);
}

.content__start-the-journey::after {
	display: block;
	background: #171820;
	content: '';
	position: absolute;
	border: 2px solid #fff;
	border-left-color: transparent;
	border-bottom-color: transparent;
	width: 5px;
	height: 5px;
	top: -1px;
	right: -1px;
	z-index: 2;
	box-shadow: 2px -2px 1px 0 rgba(255, 255, 255, 0.4);
}

.content__button-start {
	font-weight: 300;
	font-size: 0.875em;
	width: 100%;
	height: 100%;
	background: rgba(19, 22, 30, 0.01);
	border: none;
	cursor: pointer;
	color: #fff;
	opacity: 0.7;
}

.content__button-start:hover {
	opacity: 1;
}

.content__line {
	display: block;
	background: url(../images/line.png) no-repeat;
	width: 406px;
	height: 58px;
	margin: 101px 0 0 11.32em;
}

.content__table {
	float: right;
	display: block;
	position: absolute;
	top: -82px;
	right: -11.25px;
}

.content__table table {
	border-spacing: 11.25px;
}

.content__table td {
	font-size: 18px;
	font-weight: 100;
	width: 148.75px;
	height: 160px;
	color: #fff;
	opacity: 0.7;
	position: relative;
	box-sizing: border-box;
	vertical-align: bottom;
}

.content__table td:hover {
	font-size: 16px;
}

.content__table_bottom-line {
	font-size: 18px;
	margin-bottom: 10px;
}

.content__text-big-size {
	font-weight: 700;
	font-size: 60px;
	margin-top: 21px;
	vertical-align: bottom;
}

.content__table_right-column-top-element {
	text-align: right;
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.03));
}

.content__table_right-column-top-element:hover {
	cursor: pointer;
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
	opacity: 0.9;
}

.content__table_right-column-top-element:hover::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-o-border-image: -o-linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-webkit-border-image: -webkit-linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-moz-border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	width: 146.75px;
	height: 158px;
	bottom: 0;
	left: 0;
	border-image-slice: 1;
}

.content__table_right-column-bottom-element {
	text-align: right;
	background: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.03));
}

.content__table_right-column-bottom-element:hover {
	cursor: pointer;
	background: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
	opacity: 0.9;

}

.content__table_right-column-bottom-element:hover::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid transparent;
	border-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-o-border-image: -o-linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-webkit-border-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-moz-border-image: linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	width: 146.75px;
	height: 158px;
	top: 0;
	left: 0;
	border-image-slice: 1;
}


.content__table_left-column-top-element {
	text-align: center;
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.03));
	vertical-align: bottom;
}

.content__table_left-column-top-element:hover {
	cursor: pointer;
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
	opacity: 0.9;

}

.content__table_left-column-top-element:hover::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-o-border-image: -o-linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-webkit-border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-moz-border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	width: 146.75px;
	height: 158px;
	bottom: 0;
	right: 0;
	border-image-slice: 1;
}

.content__table_left-column-bottom-element {
	text-align: center;
	background: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.03));
}

.content__table_left-column-bottom-element:hover {
	cursor: pointer;
	background: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
	opacity: 0.9;

}

.content__table_left-column-bottom-element:hover::after {
	display: block;
	content: '';
	position: absolute;
	border: 1px solid transparent;
	border-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-o-border-image: -o-linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-webkit-border-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	-moz-border-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.3));
	width: 146.75px;
	height: 158px;
	top: 0;
	left: 0;
	border-image-slice: 1;
}
/*-----------3 Content(END)---------*/
